In [174]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [175]:
df = pd.read_csv('housing.csv')

In [176]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [177]:
df = df.dropna()

In [178]:
#df.columns

In [179]:
TRAIN_SIZE = 0.7 
VAL_SIZE = 0.2
TEST_SIZE = 0.1
DF_SIZE = len(df)

In [180]:
#X.shape[1]

In [181]:
scaler = MinMaxScaler()

df[['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income','median_house_value']] = scaler.fit_transform(
    df[['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income','median_house_value']])

In [182]:
df = df.sample(frac=1)
X = df[['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',]].to_numpy()
Y = df[['median_house_value']].to_numpy()


X_train = X[0:int(TRAIN_SIZE*DF_SIZE)]
Y_train = Y[0:int(TRAIN_SIZE*DF_SIZE)]

X_val = X[int(TRAIN_SIZE*DF_SIZE):int(TRAIN_SIZE*DF_SIZE) + int(VAL_SIZE*DF_SIZE)]
Y_val = Y[int(TRAIN_SIZE*DF_SIZE):int(TRAIN_SIZE*DF_SIZE) + int(VAL_SIZE*DF_SIZE)]

X_test = X[int(TRAIN_SIZE*DF_SIZE) + int(VAL_SIZE*DF_SIZE):]
Y_test = Y[int(TRAIN_SIZE*DF_SIZE) + int(VAL_SIZE*DF_SIZE):]

Theta = np.zeros(X.shape[1])

In [183]:
Theta = Theta.reshape(X.shape[1],1)

In [184]:
a = 0.001
m = X_train.shape[0]

In [185]:
############ Linear Regression ############

a = 0.001
m = X_train.shape[0]

for i in range(10000):
    h = np.dot(X_train,Theta)
    J = sum((h-Y_train)**2)/(2*X_train.shape[0])
    Theta = Theta - (a/m) * np.dot(X_train.transpose(),(h-Y_train))

In [186]:
Theta

array([[0.24175498],
       [0.1393187 ],
       [0.25936225],
       [0.06088622],
       [0.06287072],
       [0.02397723],
       [0.06317145],
       [0.32787273]])

array([0.10622401])

array([[1.86074585e-04],
       [1.22058338e-04],
       [2.19738199e-04],
       [2.83997642e-05],
       [3.38282523e-05],
       [1.56363778e-05],
       [3.34777806e-05],
       [1.12740403e-04]])

In [151]:
h-Y_train

14303