In [27]:
import numpy as np
import pandas as pd

In [28]:
df = pd.read_csv('housing.csv')

In [29]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

20640

In [8]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [30]:
TRAIN_SIZE = 0.7 
VAL_SIZE = 0.2
TEST_SIZE = 0.1
DF_SIZE = len(df)

In [24]:
X[0:5]

array([[-119.74, 34.41, 30.0, 2365.0, 417.0, 1053.0, 409.0, 5.5959,
        'NEAR OCEAN'],
       [-118.11, 34.07, 39.0, 1270.0, 299.0, 1073.0, 278.0, 3.3088,
        '<1H OCEAN'],
       [-118.37, 34.14, 23.0, 1883.0, 512.0, 774.0, 478.0, 3.5096,
        '<1H OCEAN'],
       [-117.99, 34.12, 35.0, 1040.0, 231.0, 1040.0, 242.0, 2.5395,
        'INLAND'],
       [-121.3, 38.03, 10.0, 1409.0, 248.0, 782.0, 222.0, 4.0227,
        'INLAND']], dtype=object)

In [31]:
#df.info()
df = df.sample(frac=1)
X = df[['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income', 'ocean_proximity']].to_numpy()
Y = df[['median_house_value']].to_numpy()

X_train = X[0:int(TRAIN_SIZE*DF_SIZE)]
Y_train = Y[0:int(TRAIN_SIZE*DF_SIZE)]

X_val = X[int(TRAIN_SIZE*DF_SIZE):int(TRAIN_SIZE*DF_SIZE) + int(VAL_SIZE*DF_SIZE)]
Y_val = Y[int(TRAIN_SIZE*DF_SIZE):int(TRAIN_SIZE*DF_SIZE) + int(VAL_SIZE*DF_SIZE)]

X_test = X[int(TRAIN_SIZE*DF_SIZE) + int(VAL_SIZE*DF_SIZE):]
Y_test = Y[int(TRAIN_SIZE*DF_SIZE) + int(VAL_SIZE*DF_SIZE):]

In [34]:
X_train.shape

(14447, 9)

In [ ]:
############ Linear Regression ############